// place your custom styles here
.vp-article-title {
    font-weight: 700;
    font-size: x-large;
}

.vp-article-excerpt {
    font-size: smaller;
    // color: rgb(88, 88, 98);
}

.vp-article-excerpt h2{
    font-size: large;
    font-weight: 400;
}
.theme-hope-content {
    // color: rgb(88, 88, 98);
    font-size: medium;
}

.vp-blog-type-button .icon-wrapper.active {
    background: rgb(204, 207, 212);
}

.vp-page-title h1 {
    font-size: x-large;
    // color: rgb(88, 88, 88);
}

.theme-hope-content h2 {
    font-size: larger;
}

.theme-hope-content h3 {
    font-size: larger;
}

.theme-hope-content h4 {
    font-size: medium;
}