// place your custom styles here
.vp-article-title {
    font-weight: 800;
    font-size: x-large;
}

.vp-article-excerpt {
    font-size: smaller;
    color: rgb(92, 92, 102);
}

.theme-hope-content {
    color: rgb(92, 92, 102);
}

.vp-blog-type-button .icon-wrapper.active {
    background: rgb(204, 207, 212);
}
